In [2]:
import pandas as pd
import numpy as np

In [39]:
file_name = "0506_sy_lm_model_coef.csv"

In [40]:
df = pd.read_csv(file_name)

In [41]:
data = []
for i in range(df.shape[0]):
    line = df.iloc[i]
    name = line["Unnamed: 0"]
    estm = round(float(line["Estimate"]), 3)
    lb = round(float(line['LB']), 3)
    ub = round(float(line['UB']), 3)
    dataline = [f"{estm} ({lb}~{ub})",]
    data.append(dataline)
form = pd.DataFrame(data, index=None)

In [42]:
form

                           0
0    99.799 (64.616~134.982)
1       -0.03 (-4.059~3.999)
2        2.258 (-1.75~6.265)
3       1.944 (-2.108~5.995)
4        5.516 (1.489~9.544)
5       7.696 (3.662~11.729)
6       9.795 (5.715~13.875)
7     15.316 (11.084~19.547)
8     19.639 (15.522~23.756)
9     24.264 (20.139~28.388)
10    24.184 (19.855~28.513)
11    29.753 (25.229~34.277)
12    32.228 (27.698~36.759)
13     38.49 (33.626~43.355)
14    2.912 (-31.636~37.459)
15    0.141 (-34.692~34.974)
16   -1.088 (-35.572~33.395)
17       0.482 (0.371~0.592)
18        3.144 (0.999~5.29)
19       2.596 (0.957~4.235)
20      -0.858 (-4.966~3.25)
21       0.676 (-2.09~3.442)
22       5.918 (3.157~8.678)
23      1.014 (-1.588~3.616)
24      0.325 (-4.525~5.175)
25     -0.059 (-4.323~4.205)
26       0.255 (-2.581~3.09)
27      -0.85 (-3.492~1.791)
28      -1.227 (-3.924~1.47)
29      -2.767 (-5.67~0.135)
30   -15.72 (-50.196~18.756)
31     -0.661 (-5.387~4.064)
32         2.3 (0.908~3.692)
33  -10.933 (-20.595~-1.272)
34      0.002 (-0.004~0.008)

In [43]:
df.columns

Index(['Unnamed: 0', 'Estimate', 'Std. Error', 't value', 'Pr(>|t|)', 'LB',
       'UB'],
      dtype='object')